.registerFormContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.registerForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 40px;
}


@media (min-width: 768px) {
  .registerFormContainer {
    padding: 40px;
    width:800px;
  }
}

@media (min-width: 1280px) {
  .registerFormContainer {
    width: 100%;
    padding: 2rem;
    height: 100vh;
    padding-top: 520px;
  }
}
