.link-btn {
  color: inherit;
  border-radius: 30px;
}

.login,
.login-home {
  color: var(--secondary-txt-clr);
  padding: 15px 35px;
  transition: background-color var(--transition-time) var(--transition-func),
    color var(--transition-time) var(--transition-func);
}

.login-attention {
  padding: 14px 0;
  text-align: center;
  color: var(--secondary-txt-clr);
  transition: background-color var(--transition-time) var(--transition-func),
    color var(--transition-time) var(--transition-func);
}

.login,
.login-attention {
  background-color: var(--primary-clr);
  border: none;
}

.login-home {
  border: 1px solid var(--border-home-clr);
}

.login:is(:hover, :focus) .login-attention:is(:hover, :focus) {
  background-color: var(--btn-hover-clr);
}

.login:is(:hover, :focus),
.login-mobile:is(:hover, :focus) {
  background-color: var(--hover-bg-clr);
  color: var(--icon-success-clr);
}

.login-home:is(:hover, :focus) {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.register {
  padding: 15px 20px;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  transition: background-color var(--transition-time) var(--transition-func);
}

.register:is(:hover, :focus),
.register-mobile:is(:hover, :focus) {
  background-color: var(--icon-edit-bg-clr);
}

.user-bar-wrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.auth-link {
  color: var(--primary-clr);
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}


.register-mobile,
.login-mobile {
  min-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 30px;
  font-size: var(--font-size-4xl);
  width: 100%;
}

.register-mobile {
  background-color: var(--pet-block-bg);
  color: var(--primary-clr);
}

.login-mobile {
  color: var(--icon-success-clr);
  background-color: var( --icon-edit-bg-clr);
}
