.auth-nav,
.user-nav {
  display: flex;
  gap: 12px;
  font-size: var(--font-size-xs);
  align-items: center;
  text-transform: uppercase;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .auth-nav,
  .user-nav {
    display: none;
  }
}


.auth-nav.mobile{
  padding: 2rem 1.5rem;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
  font-size: var(--font-size-sm);
  align-items: stretch;
}

.user-nav.mobile{
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex: 1;
  padding: 1rem 1.5rem;
  font-size: var(--font-size-sm);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}