.user-bar,
.mobile-user-bar {
  display: flex;
  position: relative;
  color: var(--secondary-txt-clr);
  z-index: 2;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  padding: 0 20px 0 0;
  overflow: hidden;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  transition: color var(--transition-time) var(--transition-func),
    color var(--transition-time) var(--transition-func) 0.5s;
}

.user-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: transparent;
  border-radius: 30px;
  background-color: var(--overlay-modal-clr);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s var(--transition-func);
}

.user-bar:hover::after {
  width: 60%;
  transform: scaleX(1);
}

.user-bar:is(:hover, :focus) {
  color: var(--pet-block-bg);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.mobile-user-bar {
  position: absolute;
  z-index: 2;
  top: 9vh;
  left: 10vw;
  width: 100%;
  background-color: transparent;
  color: var(--text-comment-clr);
  justify-content: start;
  align-items: flex-start;
}

.mobile-user-bar > *:first-child {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.mobile-user-bar > *:last-child {
  padding-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

/* Mobile specific styles */
.mobile-user-bar {
  position: absolute;
  z-index: 2;
  top: 9vh;
  left: 10vw;
  width: 100%;
  background-color: transparent;
  color: var(--text-comment-clr);
  justify-content: start;
  align-items: flex-start;
  padding: 10px 0;
  margin: 10px 0;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.avatar-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
}

.username {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.6px;
}
