.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 60px;
  color: var(--secondary-txt-clr);
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
    padding: 3rem;
  }
  
}