.routes-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-txt-clr);
}

.routes-list {
  display: none;
}

.link-btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: inherit;
  background-color: transparent;
  transition: background-color var(--transition-time) var(--transition-func);
}

.active-btn,
.link-btn:is(:hover, :focus) {
  background-color: var(--pet-block-bg);
  box-shadow: 0 4px 5px var(--border-home-clr);
}

.link-btn.active-btn {
  border: 1px solid var(--icon-primary-blue-clr);
  background-color: transparent;
  color: var(--primary-clr);
  box-shadow: none;
  transition: background-color var(--transition-time) var(--transition-func),
    color var(--transition-time) var(--transition-func);
}

.link-btn.active-btn:is(:hover, :focus) {
  background-color: var(--pet-block-bg);
  box-shadow: none;
}

.link-btn.active-btn.home {
  color: var(--secondary-clr);
}

.routes-nav.mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-3xl);
  height: 100vh;
  gap: 3rem;
}

.routes-nav.mobile > ul {
  display: flex;
  flex-direction: column;
  max-height: 10vh;
  background-color: var(--body-bg-clr);
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .routes-list {
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
