.formGroup {
  display: flex;
  flex-direction: column;
  position: relative;
}

.formGroup label {
  position: absolute;
  top: 16px;
  left: 16px;
  transition: 0.5s ease all;
  display: block;
  margin-bottom: 8px;
  color: var(--input-placeholder-clr);
  font-size: 0.9rem;
}

.formGroup label::after {
  content: "*";
  color: transparent;
  margin-left: 2px;
  font-size: 1.2rem;
  line-height: 1;
  transition: color 0.3s ease 0.3s;
}

.formGroup:is(:hover, :focus) label,
.formField.active + label {
  transform: translateY(-30px);
  color: var(--primary-clr);
  background-color: var(--body-bg-clr);
  padding: 0 4px;
}

.formGroup:is(:hover, :focus) label::after,
.formField.active + label::after {
  color: var(--icon-error-clr);
}

.formField {
  width: 100%;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  outline: none;
  border: 2px solid var(--input-line-clr);
  background-color: var(--secondary-txt-clr);
  transition: border-color var(--transition-slow);
  flex: 1;
  font-size: 0.95rem;
}

.formField:focus {
  border: 1px solid var(--primary-clr);
}

.errorMsg {
  position: absolute;
  bottom: -20px;
  left: 10px;
  color: var(--icon-error-clr);
  font-size: 0.8rem;
}
