.container {
  margin: 0 auto;
  width: 100%;
  max-width: clamp(375px, 90%, 1440px);
  padding: 0 1rem;
}

@media (max-width: 480px) {
  .container {
    padding: 0 1.2rem;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
}


