svg {
  flex-shrink: 0;
}

.pharmacy {
  fill: currentColor;
}

.pharmacy {
  width: 20px !important;
  height: 20px !important;
}

svg use {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .pharmacy {
    width: 40px !important;
    height: 40px !important;
  }
}
