.logo-container {
  display: flex;
  align-items: center;

  gap: 1rem;
  color: var(--white-clr);
}

.logo {
  color: var(--primary-clr);
}

.logo-home {
  font-weight: 800;
  color: var(--secondary-txt-clr);
}

.logo-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing:1px;
}
