.hero {
    margin-top:2vh;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.white {
    background: var(--white-clr);
    color: var(--dark-bg);
}

.light {
    background: #f8fafc;
    color: var(--dark-bg);
}