@import "./assets/css/reset.css";
@import "modern-normalize";
@import "./assets/css/variables.css";
@import "./assets/fonts/font.css";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--color-background-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Prevent scroll when modal is open */
.no-scroll {
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}
