@import "./assets/css/reset.css";
@import "./assets/css/variables.css";
@import "./assets/fonts/font.css";
@import "modern-normalize";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Manrope", sans-serif;
}
