.hero-content {
  display: grid;
  gap: 4rem;
  align-items: center;
  padding: 1rem 0;
  height: 100%;
}

.hero-text {
  margin-top: 30vh;
  z-index: 2;
  max-width: 500px;
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-shadow: 0 1px 2px var(--overlay-modal-clr);
  color: var(--primary-txt-clr);
}

.hero-subtitle {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  opacity: 0.9;
  max-width: 500px;
}

.hero-btn-wrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.primary-btn {
  background: var(--icon-primary-blue-clr);
  color: var(--primary-txt-clr);
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px var(--prinary-boxshadow-clr);
}

.primary-btn:hover {
  background-color: var(--pet-block-bg);
  box-shadow: 0 0 10px var(--icon-edit-bg-clr);
}

.secondary-btn {
  background-color: transparent;
  color: var(--primary-txt-clr);
  border: 2px solid currentColor;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--icon-edit-bg-clr);
  box-shadow: 0 0 10px var(--icon-edit-bg-clr);
  border-color: transparent;
}

.hero-visual {
  position: absolute;
  height: 80vh;
  max-width: clamp(120px, 80%, 2500px);
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .hero-visual {
    right: 0;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    margin: 0 auto 2rem;
  }

  .hero-btn-wrap {
    justify-content: center;
  }

  .hero-visual {
    order: -1;
    left: 10vw;
  }

  .hero-text {
    margin-left: 0;
    max-width: 100%;
  }

  .hero-visual {
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-btn-wrap {
    flex-direction: column;
    align-items: center;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    max-width: 280px;
  }
}
