.auth-right-panel {
  margin: 0;
  height: auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.auth-right-panel-heading {
  position: relative;
  color: var(--primary-txt-clr);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-semibold);
  line-height: 1.11;
}

.auth-right-panel-heading::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 40px;
  max-width: 60px;
  width: 100%;
  max-height: 60px;
  height: 100%;
  background-image: url("../../../assets/img/tablet_1x.avif");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .auth-right-panel-heading::before {
    background-image: url("../../../assets/img/tablet_2x.avif");
  }
}

.auth-right-panel-highlight {
  color: var(--primary-clr);
}

@media screen and (min-width: 468px) {
  .auth-right-panel {
    max-width: 320px;
  }

  .auth-right-panel-heading::before {
    top: -25px;
    right: 0;
  }
}

@media (min-width: 768px) {
  .auth-right-panel {
    max-width: 500px;
  }

  .auth-right-panel-heading::before {
    top: -20px;
    right: 80px;
    max-width: 80px;
    max-height: 80px;
  }

  .auth-right-panel-heading {
    font-size: var(--font-size-4xl);
  }
}

@media (min-width: 1280px) {
  .auth-right-panel {
    max-width: 600px;
  }
  
  .auth-right-panel-heading {
    font-size: var(--font-size-5xl);
  }
}

